:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#canvas-container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  position: relative;
  margin-bottom: 1.5em;
}

.button-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.input-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.steps-per-second-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.steps-per-second-input>input {
  margin-left: 0.5em;
  margin-right: 1em;
}



.button-styles>button {
  margin-right: 1em;
}